{% extends "base.html" %}
{% block content %}
    <div class="callout primary">
        <article class="grid-container">
            <div class="">
                <h1>Hello {{ current_user.username }}! This is the portfolio of a very hardworking person. ;)</h1>
                <p class="lead"></p>
            </div>
        </article>
    </div>
    {% if form %}
        <div class="grid-x grid-padding-x">
            <div class="cell small-8 small-offset-2">
                <form action="" method="post" style="margin: 25px 0">
                    {{ form.hidden_tag() }}
                        <label>
                            {{ form.feedback.label }}
                            {{ form.feedback(cols=32, rows=4) }}
                            {% for error in form.feedback.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </label>
                        {{ form.submit() }}
                </form>
            </div>
        </div>
    {% endif %}
    {% if few_feedback %}
        {% include "_feedback.html" %}
    {% endif %}
    <article class="grid-container">
        <hr>
        <blockquote>
            Those people who think they know everything are a great annoyance to those of us who do.
            <cite>Isaac Asimov</cite>
        </blockquote>
    </article>
{% endblock %}