{% extends "base.html" %}
{% block content %}
  <div class="callout primary">
    <article class="grid-container">
      <div class="">
        <h1>Hello! This is the portfolio of a very hardworking person. ;)</h1>
        <p class="lead"></p>
      </div>
    </article>
  </div>
  <article class="grid-container">
    <hr>
    <blockquote>
      Those people who think they know everything are a great annoyance to those of us who do.
      <cite>Isaac Asimov</cite>
    </blockquote>
  </article>
  <p>{{ context.conn }}</p>
{% endblock %}